.x-container-for-cart {
  top: 30px;
  right: 95px;
  width: 15px;
  height: 15px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color .1s ease-in-out;
}

.x-container-for-cart:hover {
    background-color: red !important;
}

.trash-container-in-cartItem-page-component i:hover{ 
  color: red; 
  cursor: pointer;
}

.x-mark-in-cart-item-course-container { 
  transition: all 0.1s ease-in-out;
}
.x-mark-in-cart-item-course-container:hover { 
  background-color: red !important;
  cursor: pointer;
  color: white !important; 
}