/* cartItemCourse.css */

.coursein-cart-page-component {
  font-size: 13px;
}

.trash-container-in-cartItem-page-component :hover{
  cursor: pointer;
  color: red;
  opacity: 1 !important;
}

@media screen and (max-width: 790px) {
  .coursein-cart-page-component h6{
    font-size: 14px !important;
    justify-content: start !important;
    margin-right: 12px !important;
  }
}

@media screen and (max-width: 576px) {
  .course-image-contaoner-in-cart-page-component  {
    margin: auto !important;
    align-items: center !important; 
  }
  .course-image-in-container {
    width: 60%;
    padding: 0px !important;
    margin: auto !important;
  }
  .course-image-contaoner-in-cart-page-component img{
    width: 100% !important;
    height: auto ;
  }
  .cart-item-component-container {
    margin: auto !important; 
    text-align: center !important; 
  }
  .coursein-cart-page-component h6{ 
    margin-top : 8px !important ;
    margin-bottom : 18px !important ;
    text-align: start !important;
  }
  .description-cart-item-component {
    max-width: 75% !important;
    margin: auto !important;
  }
}