/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/courses/cartItemCourse/cartInCartPage/CartInPage.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************/
.x-container-for-cart {
  top: 30px;
  right: 95px;
  width: 15px;
  height: 15px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color .1s ease-in-out;
}

.x-container-for-cart:hover {
    background-color: red !important;
}
