.courses-filter-container {
    overflow: hidden;
  }
  

  
.course-filter-nav {
    background-color: rgb(243 244 246);
}


.fade-in {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
  }
  
  .fade-out {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
  }
  