/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/overlay/overlayComponent.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    -webkit-backdrop-filter: blur(5px); 
            backdrop-filter: blur(5px); 
    z-index: 1 !important; 
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .overlay.active {
    opacity: 1 !important;
    visibility: visible !important; 
  }
  
/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/courses/style.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.courses-container {
    background-color: rgb(243 244 246); 
}

.number-of-course-courses {
    font-size: 18px;
}

.search-course-courses-form input {
    outline: none;
}
.search-course-courses-form button {
    color: rgb(140, 141, 141);

}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/features/courseFilters/CourseFilters.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************/
.courses-filter-container {
    overflow: hidden;
  }
  

  
.course-filter-nav {
    background-color: rgb(243 244 246);
}


.fade-in {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
  }
  
  .fade-out {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
  }
  
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/courses/course.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.course {
  margin: 0px 10px;
  padding: 0px;
  padding-bottom: 6px;
  margin: auto ;
}

.couse-offer {
}

.course-image-container {
}

.course-title {
  cursor: pointer;
}

.course-image {
}
.course-text {
  padding: 15px 15px 0px 15px !important;
}

.course-price-information {
  padding: 30px 15px 15px 15px !important;
}

.course-description {
  font-size: 14px;
}
