/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/courses/course.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.course {
  margin: 0px 10px;
  padding: 0px;
  padding-bottom: 6px;
  margin: auto ;
}

.couse-offer {
}

.course-image-container {
}

.course-title {
  cursor: pointer;
  font-weight: bold;
  
}

.course-image {
}
.course-text {
  padding: 15px 15px 0px 15px !important;
}

.course-price { 
  font-weight: bold;
}
.course-price-information {
  padding: 30px 15px 15px 15px !important;
}

.course-description {
  font-size: 14px;
  color: #6f6f70; 

  font-weight: lighter;
}

.course-teacher { 
  color: #757576; 
}
.course-teacher span { 
  font-size: 13px; 
}

.course-student-number { 
  color: #808080 !important;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/navbar/NavbarList/NavbarList.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
/* top: -44, 
    right: 0, 
    backgroundColor: 'rgb(255 255 255)', */

.navbar-list {
  min-width: 250px;
  min-height: 100vh;
  position: fixed;
  z-index: 1000 !important;
  top: -0;
  /* top: -44; */
  right: 0;
  background-color: rgb(255 255 255);
  transition: all 0.1s ease-out;

}

.navbar-list-display-none {
  min-width: 250px;
  min-height: 100vh;
  position: fixed;
  background-color: rgb(255 255 255);
  top: 0 !important;
  right: -500px !important;
  transition: right 0.4s ease;
}

.top-of-navbar-list {
  padding-bottom: 25px;
}

.navbar-list-icons {
  padding: 3px !important;
  background-color: rgb(248 248 248);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 24px;
  color: rgb(68, 68, 68) !important;
  opacity: 70%;
}

.navbar-list-icons i {
  line-height: 1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: light;
}

.input-navbar-list {
  border-radius: 0px 30px 30px 0px;
  outline: none;
  box-shadow: none;
  background-color: rgb(243 244 246);
  border: None;
  outline: none;
}

.button-navbar-list {
  border-radius: 30px 0 0 30px;
  font-size: 16px;
  font-weight: lighter;
  border: None;
  opacity: 60%;
  /* border-radius: 0px 20px 20px 0px; */
}






/*!********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/navbar/Hamburger-button/HamburgerButton.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************/
.bars {
    
}
.bars .bar-btn {
    width: 54px;
    height: 54px;
}


@media screen and (min-width: 642px) {
    .haburgerContainer {
        display: block !important;
    }    
    .hamburger-list-inline {
        display: none !important;
    }
}

@media screen and (min-width: 770px) {
    .haburgerContainer {
        display: none !important;
    }    
    .hamburger-list-inline {
        display: flex !important;
    }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/overlay/overlayComponent.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    -webkit-backdrop-filter: blur(5px); 
            backdrop-filter: blur(5px); 
    z-index: 1 !important; 
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .overlay.active {
    opacity: 1 !important;
    visibility: visible !important; 
  }
  
/*!***************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/navbar/Navbarfeature/basket/basket.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************/
/* basket.css */

.navbar-list-icons {
  border: 0;
}

.position-relative {
  position: relative;
}

.basket-dropdown {
  position: absolute;
  background-color: white;
  border-radius: 0.50rem;
  z-index: 1000;
  left: 10px;
  margin-top: 10px;
  min-width: 360px;
  width: 380px;
}

.basket-header {
  display: flex;
  justify-content: space-between;
  padding: 1.3rem;
  border-radius: 0.75rem;
  background-color: rgba(10, 151, 212, 0.1);
}

.basket-header-text {
  color: #17a2b8;
  font-weight: bold;
}

.basket-content {
  text-align: center;
  padding: 1rem;
  color: rgb(100, 116, 139);
  font-size: 20px;
}

.basket-courses {
  width: 350px;
  max-height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}

.basket-courses::-webkit-scrollbar {
    width: 4px;
    margin: 0;
    padding: 0;

}
.basket-courses::-webkit-scrollbar-thumb {
    /* background-color: red; */
    background-color: rgb(212, 212, 209);
    width: 4px;
    border-radius: 40px;
    margin: 0;
    padding: 0;
}

.basket-courses::-webkit-scrollbar-thumb:hover {
    background-color: rgb(199, 204, 199);
    margin: 0;
    padding: 0;
}


.cart-in-basket-trash-icon i {
  transition: all 0.1s ease-in-out;
}
.cart-in-basket-trash-icon i:hover { 
  color: rgb(255, 93, 93);
  cursor: pointer;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/elemets/button.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.sabzleaen-btn {
  font-size: 16px;
  background-color: var(--sabzlearn-color);
  transition: all 0.1s ease-in-out;
}

.sabzleaen-btn:hover {
    background-color: var(--sabzlearn-color-darker);
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/homePagecomponetns/NavbarAndSearch.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************/
.navbar-and-search-icons {
    font-size: 19px;
}

.navbar-and-search-container {
    background-image: url('/static-images/laptop.webp');
    background-size: cover;
    background-position: 50%; 
    background-repeat: no-repeat;
}


@media screen and (min-width: 642px){
    .home-search-input {
        width: 600px !important ;
    }
    .all-fetcure-home-items {
        width: 600px !important;
    }
    .home-page-title h5 { 
        font-size: 30px !important;
    }
    .home-page-title p {
        width: 100% !important; 
        font-size: 17px !important;
    }
    .all-fetcure-home-items {
        width: 700px !important; 
        justify-content: space-around !important;

    }
    .all-fetcure-home-items div img {
        width: 60px !important;
        height: auto !important;
    }
    .all-fetcure-home-items div span {
        font-size: 20px !important;
    }
}

@media screen and (min-width: 770px){
    .signup-or-profile-home-page { 
        display: block !important;
    }
    .sign-up-in-home-btn {
        display: flex !important;
    }
    .home-page-title h5 { 
    font-weight: bold !important;
     margin-top: 30px !important;   
    } 
    .navbar-and-search-container {
        height: 600px !important;
        /* new-laptop.webp */
        background-image: url('/static-images/new-laptop.webp ') !important;
        background-color: transparent !important;

    }
    .search-form-input-home-page {
        margin-top: 60px !important ;
    }
    .home-search-input {
        width: 450px !important ;
        padding: 20px 19px 20px 10px !important;
    }
    .all-fetcure-home-items {
        width: 580px !important;
        margin: 20px auto 0px auto !important; 
    }

    .all-fetcure-home-items div img {
        width: 75px !important;
        height: auto !important;
    }
    .all-fetcure-home-items div span {
        font-size: 20px !important;
    }
}

@media screen and (min-width: 1027px) {
    .navbar-and-search-container {
        height: 100vh !important;
        /* max-width: 1200px; */
    }
    .home-page-title h5 { 
        font-size: 35px !important;
    }
    .home-page-title p { 
        font-size: 18px !important;
        font-weight: bold !important;
        margin-top: 20px !important;
    }
    .navbar-and-search-layout-container {
        max-width: 1200px;
        margin: auto;
    }
    .all-fetcure-home-items {
        width: 800px !important;
         margin-top: 50px !important;
    }
    .all-fetcure-home-items div img {
        width: 85px !important;
        height:auto !important;
    }
    .all-fetcure-home-items div span {
        font-size: 25px !important;
    }
    .home-search-input {
        width: 700px !important;
    }
}

.sign-up-in-home-btn:hover {
    transition: all 0.1s ease-in-out;
    background-color: var(--sabzlearn-color-darker) !important;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/navbar/Navbarfeature/profile/Profile.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************/
.Basket-open{
    z-index: 1000 !important;
    
}
.basket-icon-navbar{
    z-index: 9999 !important;
}

.Basket-open ol {
    padding: 20px;
    list-style: none;
    padding-bottom: 0;
}
.Basket-open ol li{
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.Basket-open ol li:hover{
    background-color: rgba(83, 224, 88, .6); 
}
.Basket-open ol .logout-li-profile:hover{
    background-color: rgba(211, 46, 46, 1);
    color: white;
}

.Basket-open ol li span {
    margin-right: 10px; 
    font-size: 20px; 

}

.Basket-open ol li i{
    font-size: 19px;
}

