.breadcrumb-nav {
  background-color: #ffffff; 
  padding: 15px 25px; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
  margin-bottom: 30px;
  border: 1px solid #e3e3e3; 
}

.breadcrumb {
  display: flex;
  gap: 10px; 
  list-style: none; 
  margin: 0;
  padding: 0;
  font-size: 1.2rem; 
}

.breadcrumb-item {
  font-weight: 500;
  color: #6c757d;
  padding: 10px;
}

.breadcrumb-item a {
  text-decoration: none; 
  /* color: #0056b3;  */
  transition: color 0.3s ease; 
}

.breadcrumb-item a:hover {
  color: #00376b; 
}

.breadcrumb-item.active {
  font-weight: bold; 
  color: #212529; 
}

.fa-house {
  margin-right: 8px; 
  font-size: 1.3rem; 
  /* color: #007bff;  */
}

nav .breadcrumb-item::after {
  content: " ›"; 
  color: #adb5bd;
  font-weight: bold;
  margin-left: 10px;
}

nav .breadcrumb-item:last-child::after {
  content: "";
}


.look-my-profile-courses {
  padding: 10px; 
  padding: 10px 14px 10px 14px;
  font-size: 17px;
  background-color: white; 
  color: rgb(34 197 94); 
  border: 1px solid rgb(34 197 94);
  border-radius: 25px;
  transition: all 0.1s ease-in-out;
}

.look-my-profile-courses:hover {
  background-color: rgb(34 197 94); 
  color: white; 
}

.add-to-basket-btn {
  background-color: rgb(34 197 94);
  border: 0; 
  transition: background-color 0.1s ease-in-out;
}

.add-to-basket-btn:hover {
  background-color: red;
  background-color: rgb(43, 161, 86);
}



.reply-icon-courses:hover {
  background-color: rgb(212, 237, 247) ;
}